<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'fashion.jpg', class: 'img-fluid' %>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h3>The best fashion place in ATX</h3>
    </div>