<div class="hero">
	<br />
	<div class="row feature text-center">
  <div class="frosty col-10 offset-1 text-center">	
  	<br />
	 <h1>The best fashion place in ATX</h1>
	<br />
	 <p>Come to the Princess Chacha fashion house where ladies look their best. Princess Chacha is a trained designer with so many years of experience under her belt. This is the best place in Austin to make your next elegant outfit without breaking your bank.</p>
	<br /> 
    </div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'fashion.jpg', class: 'img-fluid' %>
    </div>
    