@import "bootstrap";
.navbar {
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {
  color: #E62AAA;
  font-family: 'karmilla';
  font-size:30px;
  text-align: center;
}
.nav-link {
  color: white;
  font-family: 'karmilla';
  font-size: 15px;
  text-align: right;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}
.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}